{% extends 'base.html' %}

{% block content %}
<p> 下面是专辑信息 </p>

<form method="post">
    专辑名 <input type="text" name="album_name" autocomplete="off" required>
    发行年 <input type="text" name="year" autocomplete="off" required>
    歌曲数量 <input type="text" name="song_num" autocomplete="off" required>
    歌手 <input type="text" name="singer_name" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>

<ul class="album-list">
    <table border="1" cellspacing="0" width="40%">
        <tr>    
            <td> album_name </td>
            <td> year </td>
            <td> singer_name </td>
            <td> song_num </td>
            <td> Edit </td>
            <td> Delete </td>
        </tr>
    </table>
    {% for album in albums %}
    <table border="1" cellspacing="0" width="40%">
    <tr>    
        <td>{{ album.album_name }}</td>
        <td>{{ album.year }}</td>
        <td>{{ album.singer_name }}</td>
        <td>{{ album.song_num }}</td>
        <td> <a class="btn" href="{{ url_for('EditAlbum', album_name=album.album_name) }}">Edit</a></td>
        <td>
            <form class="inline-form" method="post" action="{{ url_for('DeleteAlbum', album_name=album.album_name) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </table>
    {% endfor %}
</ul>

<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}
