<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>STY Music list</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css"> -->
    {% endblock %}
</head>
<body>
    {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
    {% endfor %}
    <h2>
        <img alt="Avatar" class="avatar" src="{{ url_for('static', filename='images/avatar.png') }}">
        STY's Music list
    </h2>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Song</a></li>
        </ul>
        <ul>
            <li><a href="{{ url_for('SingerPage') }}">Singer</a></li>
        </ul>
        <ul>
            <li><a href="{{ url_for('UserPage') }}">User</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <footer>
        <small>&copy; 2021 <a href="http://helloflask.com/tutorial">Tommy</a></small>
	</footer>
</body>
</html>
