{% extends 'base.html' %}

{% block content %}
<h3>Edit item</h3>
<form method="post">
    Song_name <input type="text" name="song_name" autocomplete="off" required value="{{ music.song_name}}">
    Type <input type="text" name="type" autocomplete="off" required value="{{ music.type }}">
    Singer <input type="text" name="singer_name" autocomplete="off" required value="{{ music.singer_name }}">
    <input class="btn" type="submit" name="submit" value="Update">
</form>
{% endblock %}
