{% extends 'base.html' %}

{% block content %}
<p>{{ musics|length }} Titles</p>
<p> 下面是音乐列表 </p>

<form method="post">
    Song_name <input type="text" name="song_name" autocomplete="off" required>
    Type <input type="text" name="type" autocomplete="off" required>
    Singer <input type="text" name="singer_name" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>
<ul class="music-list">
    {% for music in musics %}
    <table border="1" cellspacing="0" width="40%">
    <tr>
        <td>{{ music.song_name }}</td>
        <td>{{ music.type }}</td>
        <td> <a class="btn" href="{{ url_for('ShowSinger', music_id=music.id) }}">{{ music.singer_name }}</a> </td>
        <td> <a class="btn" href="{{ url_for('edit', music_id=music.id) }}">Edit</a></td>
        <td>
            <form class="inline-form" method="post" action="{{ url_for('delete', music_id=music.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
        <td>
            <a class="wy" href="https://music.163.com/#/search/m/?s={{ music.song_name}}" target="_blank" title="Find this music on wy">网易云音乐</a>
        </td>
    </tr>
    </table>
    {% endfor %}
</ul>

<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}
