{% extends 'base.html' %}

{% block content %}
<p>{{ musics|length }} Titles</p>
<a class="btn" href="{{ url_for('SearchMusic') }}">搜索歌曲</a>
<p> 下面是音乐列表。注意添加音乐时，必须有对应的歌手！类型有外键限制，只能是：流行，嘻哈说唱，民谣，摇滚，古风，二次元。</p>

<form method="post">
    Song_name <input type="text" name="song_name" autocomplete="off" required>
    Type <input type="text" name="type" autocomplete="off" required>
    Singer <input type="text" name="singer_name" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>
<ul class="music-list">
    <table border="1" cellspacing="0" width="40%">
        <tr>    
            <td> song_name </td>
            <td> type </td>
            <td> singer </td>
            <td> Edit </td>
            <td> Delete </td>
        </tr>
    </table>
    {% for music in musics %}
    <table border="1" cellspacing="0" width="40%">
    <tr>
        <td><a class="wy" href="{{music.url}}" target="_blank" title="Find this music on wy">{{ music.song_name }}</a></td>
        <td>{{ music.type }}</td>
        <td> <a class="btn" href="{{ url_for('ShowSinger', singer_name=music.singer_name) }}">{{ music.singer_name }}</a> </td>
        <td> <a class="btn" href="{{ url_for('edit', music_id=music.id) }}">Edit</a></td>
        <td>
            <form class="inline-form" method="post" action="{{ url_for('delete', music_id=music.id) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </table>
    {% endfor %}
</ul>

<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}
