<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .w {
            width: 100%;
            margin: auto;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }

        .header {
            height: 43px;
            margin: 30px auto;
            background-color: #333;
            margin-top: 0px;
        }

        .logo {
            float: left;
            width: 198px;
            height: 43px;
            margin-left: 30px;
        }

        .nav2 {
            float: left;
            margin-left: 350px;
        }

        .nav2 ul li {
            float: left;
            margin: 0 15px;
        }

        .nav2 ul li a {
            display: block;
            height: 43px;
            padding: 0 10px;
            line-height: 43px;
            color: white;
        }

        .nav2 ul li a:hover {
            border-bottom: 2px solid #00a4ff;
        }

        a.active {
            background-color: #00a4ff;
        }

        .user {
            float: right;
            margin-right: 50px;
            color: white;
        }

        #song {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        #song tr.treven {
            background-color: #FAFAFA;
        }

        #song tr.trodd {
            background-color: #FFFFFF;
        }

        #song tr:hover {
            background-color: #f5f5f5;
        }

        a {
            text-decoration: none
        }

        nav {
            float: none;
        }

        .user {
            float: right;
            margin-right: 50px;
            color: white;
        }

        #users {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 80%;
        }

        #users td,
        #users th {
            border: 1px solid #ddd;
            padding: 8px;
        }

        #users tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        #users th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            background-color: #f2f2f2;
            color: black;
        }
    </style>
</head>

<body>
    {% for message in get_flashed_messages() %}
    <div class="alert">{{ message }}</div>
    {% endfor %}
    <div class="header w">
        <!-- 标志模块 -->
        <div class="logo">
            <div style="font-size:25px;color: aliceblue; margin-top: 6px;">The Young</div>
        </div>
        <!-- 文字导航栏模块 -->
        <div class="nav2">
            <ul>
                <li>
                    <a href="{{ url_for('index') }}">音乐</a>
                </li>
                <li>
                    <a href="{{ url_for('SingerPage') }}">歌手</a>
                </li>
                <li>
                    <a href="{{ url_for('AlbumPage') }}">专辑</a>
                </li>
                <li>
                    <a href="{{ url_for('UserPage') }}">用户</a>
                </li>
            </ul>
        </div>
        <!-- 用户模块 -->
        <div class="user">
            <img src="https://img-blog.csdnimg.cn/8242726cba69411f84dc9a750542b1e5.png"
                style="vertical-align: middle; height: 43px;">
            {{cur_user}}
            <a href="{{url_for('login')}}" style="color: white;">退出</a>
        </div>
        <div style="float:right;margin-right: 70px; margin-top: 5px;">
            <form class="form-inline" method="post" action="{{ url_for('searchkeyword')}}">
                <input type="text" class="form-control" name="keyword" placeholder="请输入关键字">
                <input type="submit" class="btn btn-primary" name="search" value="搜索">
            </form>
        </div>
    </div>
    <center>
        <h2>音乐</h2>
        <ul>
            <table id="song" frame=void style="margin-top: 40px;">
                <tr>
                    <td>
                        歌曲
                    </td>
                    <td> 类型 </td>
                    <td> 歌手 </td>
                    <td> 操作 </td>
                </tr>
                {% for music in musics %}
                <tr class='treven'>
                    <td>
                        <div>
                            <img alt="Walking Totoro" display="block" height=40px width=40px
                                src="{{ url_for('static', filename=music.song_fig) }}" title="to~to~ro~">
                            <a href="{{music.url}}" target="_blank" title="Find this music on wy">{{ music.song_name
                                }}</a>
                        </div>
                    </td>
                    <td>{{ music.type }}</td>
                    <td> {{ music.singer_name }}</a> </td>
                    <td>
                        <div style="display: inline-block;">
                            <button class="btn-primary" data-toggle="modal" data-target="#editModal{{music.id}}"><i
                                    class="glyphicon glyphicon-pencil"></i></button>
                        </div>
                        <div style="display: inline-block;">
                            <form method="post" action="{{ url_for('DeleteMusic', music_id=music.id) }}">
                                <input type="submit" class="btn btn-danger" name="delete" value="删除"
                                    onclick="return confirm('Are you sure?')">
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </ul>
    </center>
    <center>
        <h2>歌手</h2>
        <ul>
            <table id="song" frame=void style="margin-top: 40px;">
                <tr>
                    <td>
                        歌手
                    </td>
                    <td> 生日 </td>
                    <td> 星座 </td>
                    <td> 操作 </td>
                </tr>
                {% for singer in singers %}
                <tr class='treven'>
                    <td>
                        <div>
                            <img alt="Walking Totoro" display="block" height=40px width=40px
                                src="{{ url_for('static', filename=singer.singer_fig) }}" title="to~to~ro~">
                            <a href="{{ url_for('ShowSinger', singer_name=singer.singer_name) }}">{{ singer.singer_name
                                }}</a>
                        </div>
                    </td>
                    <td>{{ singer.birthday }}</td>
                    <td> {{ singer.constellation }}</a> </td>
                    <td>
                        <div style="display: inline-block;">
                            <button class="btn-primary" data-toggle="modal"
                                data-target="#editsingerModal{{singer.singer_name}}"><i
                                    class="glyphicon glyphicon-pencil"></i></button>
                        </div>
                        <div style="display: inline-block;">
                            <form method="post" action="{{ url_for('DeleteSinger', singer_name=singer.singer_name) }}">
                                <input type="submit" class="btn btn-danger" name="delete" value="删除"
                                    onclick="return confirm('Are you sure?')">
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </ul>
    </center>

    <center>
        <h2>专辑</h2>
        <ul>
            <table id="song" frame=void style="margin-top: 40px;">
                <tr>
                    <td>
                        专辑
                    </td>
                    <td> 发行年份 </td>
                    <td> 歌手 </td>
                    <td>歌曲数目</td>
                </tr>
                {% for album in albums %}
                <tr class='treven'>
                    <td>
                        <div>
                            <img alt="Walking Totoro" display="block" height=40px width=40px
                                src="{{ url_for('static', filename=album.album_fig) }}" title="to~to~ro~">
                            {{album.album_name}}
                        </div>
                    </td>
                    <td>{{ album.year }}</td>
                    <td> {{ album.song_num }}</a> </td>
                    <td>
                        <div style="display: inline-block;">
                            <button class="btn-primary" data-toggle="modal"
                                data-target="#editalbumModal{{album.album_name}}"><i
                                    class="glyphicon glyphicon-pencil"></i></button>
                        </div>
                        <div style="display: inline-block;">
                            <form method="post" action="{{ url_for('DeleteAlbum', album_name=album.album_name) }}">
                                <input type="submit" class="btn btn-danger" name="delete" value="删除"
                                    onclick="return confirm('Are you sure?')">
                            </form>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </ul>
    </center>
    <center>
        <h2>用户</h2>
        <table id="users">
            <thead>
                <tr align="right">
                    <h3>用户</h3>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>姓名</th>
                    <th>性别</th>
                    <th>喜好</th>
                </tr>
                {% for user in users %}
                <tr>
                    <td>{{ user.user_name }}</td>
                    <td>{{ user.user_gender }}</td>
                    <td>{{ user.type }}</td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </center>

    {%for album in albums%}
    <center>
        <div class="modal fade" id="editalbumModal{{album.album_name}}" tabindex="-1" role="dialog"
            aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">编辑专辑</h4>
                    </div>
                    <div class="modal-body">
                        <form action="{{ url_for('EditAlbum',album_name=album.album_name) }}" method="POST"
                            class="form-horizontal" role="form">
                            <div class="form-group">
                                <label style="margin-left: 10px;">名称:</label>
                                <input style="margin-left: 25px;" type="text" name="album_name" class="form-constrol"
                                    autocomplete="off" reqired value="{{album.album_name}}">
                            </div>
                            <div class="form-group">
                                <label style="margin-left: 5px;">发行年份:</label>
                                <input style="margin-left: 1px;" type="text" name="year" class="form-constrol"
                                    autocomplete="off" required value="{{album.year}}">
                            </div>
                            <div class="form-group">
                                <label style="margin-left: 5px;">歌曲数目:</label>
                                <input style="margin-left: 1px;" type="text" name="song_num" class="form-constrol"
                                    autocomplete="off" required value="{{album.song_num}}">
                            </div>
                            <div class="form-group">
                                <label style="margin-left: 10px;">歌手:</label>
                                <input style="margin-left: 25px;" type="text" name="singer_name" class="form-constrol"
                                    autocomplete="off" required value="{{album.singer_name}}">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">更新</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </center>

    {%endfor%}

    {%for singer in singers%}
    <center>
        <div class="modal fade" id="editsingerModal{{singer.singer_name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">更新歌手</h4>
                    </div>
                    <div class="modal-body">
                        <!-- 这里是要提交的表单，提交到那呢？要用action来指定请求的接口，method指定请求的类型：get、post -->
                        <form action="{{ url_for('EditSinger',singer_name=singer.singer_name) }}" method="POST"
                            class="form-horizontal" role="form">
                            <div class="form-group">
                                <label style="margin-left: 10px;">歌 手:</label>
                                <input style="margin-left: 10px;" type="text" name="singer_name" class="form-constrol"
                                    autocomplete="off" required value="{{ singer.singer_name}}">
                            </div>
                            <div class="form-group">
                                <!-- 这里定义提交的表单内容，在flask中用request拿到请求的结果，但是id无法被拿到，需要用name，我这里卡了很久没找到原因，其他元素做同样的修改 -->
                                <label style="margin-left: 10px;">类 型:</label>
                                <!--<input style = "margin-left: 10px;" type="text" name="type" class="form-constrol" >-->

                                <input type="text" name="gender" autocomplete="off" required value="{{ singer.gender }}"
                                    style="width:180px; height:30px; margin-left: 10px;">

                            </div>
                            <div class="form-group">
                                <!-- 这里定义提交的表单内容，在flask中用request拿到请求的结果，但是id无法被拿到，需要用name，我这里卡了很久没找到原因，其他元素做同样的修改 -->
                                <label style="margin-left: 10px;">语 言:</label>
                                <!--<input style = "margin-left: 10px;" type="text" name="type" class="form-constrol" >-->

                                <input type="text" name="language" autocomplete="off" required
                                    value="{{ singer.language }}" style="width:180px; height:30px; margin-left: 10px;">

                            </div>
                            <div class="form-group">
                                <!-- 这里定义提交的表单内容，在flask中用request拿到请求的结果，但是id无法被拿到，需要用name，我这里卡了很久没找到原因，其他元素做同样的修改 -->
                                <label style="margin-left: 10px;">生 日:</label>
                                <input type="date" name="birthday" style="width:180px; height:30px; margin-left: 10px;"
                                    autocomplete="off" required value="{{ singer.birthday }}" />
                            </div>
                            <div class="form-group">
                                <!-- 这里定义提交的表单内容，在flask中用request拿到请求的结果，但是id无法被拿到，需要用name，我这里卡了很久没找到原因，其他元素做同样的修改 -->
                                <label style="margin-left: 10px;">星 座:</label>
                                <!--<input style = "margin-left: 10px;" type="text" name="type" class="form-constrol" >-->

                                <input type="text" name="constellation"
                                    style="width:180px; height:30px; margin-left: 10px;" autocomplete="off" required
                                    value="{{ singer.constellation }}">

                            </div>
                            <!-- 1. form的提交需要用submit。也就是Send message的button的type，设置为submit，否则无法提交，点击按钮没反应-->
                            <!-- 2. 本来提交btn在form外面，这个需要提到form内才能提交form的信息-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">更新</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </center>
    {%endfor%}

    {%for music in musics%}
    <div class="modal fade" id="editModal{{music.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">编辑歌曲</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <!-- 这里是要提交的表单，提交到那呢？要用action来指定请求的接口，method指定请求的类型：get、post -->
                        <form action="{{ url_for('EditMusic',music_id=music.id) }}" method="POST"
                            class="form-horizontal" role="form">
                            <div class="form-group">
                                <label style="margin-left: 10px;">歌曲名:</label>
                                <input style="margin-left: 10px;" type="text" name="song_name"
                                    class="form-constrol" autocomplete="off" required
                                    value="{{ music.song_name}}">
                            </div>
                            <div class="form-group">
                                <label style="margin-left: 5px;">歌曲链接:</label>
                                <input style="margin-left: 1px;" type="text" name="song_url"
                                    class="form-constrol" autocomplete="off" required
                                    value="{{ music.url}}">
                            </div>
                            <div class="form-group">
                                <!-- 这里定义提交的表单内容，在flask中用request拿到请求的结果，但是id无法被拿到，需要用name，我这里卡了很久没找到原因，其他元素做同样的修改 -->
                                <label style="margin-left: 15px;">类 型:</label>
                                <!--<input style = "margin-left: 10px;" type="text" name="type" class="form-constrol" >-->
                                <input type="text" style="width:180px; height:30px; margin-left: 15px;"
                                    name="type" autocomplete="off" required value="{{ music.type }}">
                            </div>
                            <div class="form-group">
                                <label style="margin-left: 18px;">歌 手:</label>
                                <input style="margin-left: 10px;" type="text" name="singer_name"
                                    class="form-constrol" autocomplete="off" required
                                    value="{{ music.singer_name }}">
                            </div>
                            <!-- 1. form的提交需要用submit。也就是Send message的button的type，设置为submit，否则无法提交，点击按钮没反应-->
                            <!-- 2. 本来提交btn在form外面，这个需要提到form内才能提交form的信息-->
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default"
                                    data-dismiss="modal">关闭</button>
                                <button type="submit" class="btn btn-primary">更新</button>
                            </div>
                        </form>
                    </center>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}

</body>

</html>