{% extends 'base.html' %}

{% block content %}
<p>{{ singers|length }} Titles</p>
<a class="btn" href="{{ url_for('SearchSinger') }}">搜索歌手</a>
<p> 下面是歌手信息，注意 language 有外键限制，只能是：华语，欧美，日本，韩语。 </p>

<form method="post">
    歌手名 <input type="text" name="singer_name" autocomplete="off" required>
    性别 <input type="text" name="gender" autocomplete="off" required>
    语言 <input type="text" name="language" autocomplete="off" required>
    <input class="btn" type="submit" name="submit" value="Add">
</form>

<ul class="singer-list">
    <table border="1" cellspacing="0" width="40%">
        <tr>    
            <td> singer_name </td>
            <td> gender </td>
            <td> language </td>
            <td> delete </td>
        </tr>
    </table>
    {% for singer in singers %}
    <table border="1" cellspacing="0" width="40%">
    <tr>    
        <td><a class="btn" href="{{ url_for('ShowSinger', singer_name=singer.singer_name) }}">{{ singer.singer_name }}</a></td>
        <td>{{ singer.gender }}</td>
        <td>{{ singer.language }}</td>
        <td> <a class="btn" href="{{ url_for('EditSinger', singer_name=singer.singer_name) }}">Edit</a></td>
        <td>
            <form class="inline-form" method="post" action="{{ url_for('DeleteSinger', singer_name=singer.singer_name) }}">
                <input class="btn" type="submit" name="delete" value="Delete" onclick="return confirm('Are you sure?')">
            </form>
        </td>
    </tr>
    </table>
    {% endfor %}
</ul>

<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}
