{% extends 'base.html' %}

{% block content %}
<p>{{ users|length }} Titles</p>
<p> 下面是用户信息 </p>

<ul class="singer-list">
    {% for user in users %}
    <table border="1" cellspacing="0" width="40%">
    <tr>    
        <td>{{ user.user_name }}</td>
        <td>{{ user.user_gender }}</td>
        <td>{{ user.type }}</td>
    </tr>
    </table>
    {% endfor %}
</ul>

<img alt="Walking Totoro" class="totoro" src="{{ url_for('static', filename='images/totoro.gif') }}" title="to~to~ro~">
{% endblock %}
